.cadastre {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 120vh;
    background-color: #111111;
}

hr {
    width: 50%;
}

.title_cadastre h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #F3F3F3;
}


.button {
    font-family: monospace;
    background-color: #f3f7fe;
    color: #242424;
    text-align: center;
    border: none;
    border-radius: 8px;
    width: 50%;
    height: 40px;
    transition: .3s;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
}

.button:hover {
    background-color: #6a442fe3;
    box-shadow: 0 0 0 5px #6a442f6e;
    color: #fff;
}
