.footer {
    background-color: #1f1f1f;
    color: #ededed;
    padding: 1rem;
    text-align: center;
}

#logo {
    width: 46%;
}

.informations{
    display: flex;
    justify-content: space-around;
}

.about{
    width: 300px;
}

.about h1 {
    font-weight: 400;
}

.working_hours {
    height: 250px;
}

.working_hours h2 {
    color: rgb(235, 235, 235);
    font-weight: 400;
}

.week {
    display: flex;
    justify-content: space-between;
}

.week ul {
    list-style: none;
    padding: 0;
    font-weight: 500;
}

#date {
    color: gray;
}
#hours {
    color: #6A442F;
}


.place{
    height: 150px;
    width: 100px;
}

.place ul {
    list-style: none;
}

.place ul li a {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(237, 237, 237);
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    padding: 0 5px;
}

.place ul li a:hover {
    text-decoration: none;
}

.links {
    width: 300px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
}

.redes a {
    cursor: pointer;
    color: rgb(237, 237, 237);
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    padding: 0 20px;
}

.copy_right {

    font-size: 17px;
    font-weight: 400;
    margin-top: 1em;
}


@media screen and (max-width: 550px) {
    .links {
        display: none;
    }

    .about {
        width: 50%;
    }
    .about h1 {
        font-size: 20px;
    }

    #logo {
        width: 70%;
    }
    .working_hours {
        font-size: 13px;
    }
}